{%  load static %}

{# Do not write doctype #}
<html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <link rel="stylesheet" href="{%  static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue-deep_purple.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link rel="stylesheet" href="{%  static 'css/material.min.css' %}">
    <link rel="stylesheet" href="{%  static 'css/getmdl-select.scss' %}">
    <link rel="stylesheet" href="{%  static 'css/mdl-jquery-modal-dialog.css' %}">
    <link rel="stylesheet" href="{%  static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{%  static 'css/maps.css' %}">
    <title>Ice Cream CONEction - Driver Dashboard</title>
</head>


<body>
<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">Ice Cream CONEction</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation. We hide it in small screens. -->
            <nav class="mdl-navigation mdl-layout--large-screen-only">
                <label for="user_name_label"></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button class="mdl-button mdl-js-button mdl-js-ripple-effect" id="driver_logout_button">Logout</button>
            </nav>
        </div>
    </header>
    <main class="mdl-layout__content">
        <div class="page-content">
            <div class="row">
                <div class="col-xs-9" id="map"></div>
                <div class="col-xs-3" id="mapInfo">
                    <h4 id="mapInfoHeading">Activity</h4>
                    <h5 style="color: green">5 ice cream trucks found nearby</h5>
                    <h5 style="color: blue">3 ice cream trucks have your favorite ice cream in their inventory</h5>
                    <h5 style="color: orangered">1 ice cream truck has only vanilla left</h5>
                    <h5 style="color: chocolate">2 ice trucks have chocolate and its flavors...sounds yummy!</h5>
                    <h5 style="color: deeppink">3 ice trucks have strawberry</h5>
                    <h5 style="color: yellowgreen">Looks like there is 1 ice cream truck new to the area</h5>
                    <h5></h5>
                </div>
            </div>
        </div>
    </main>
</div>

<script src="{%  static 'js/jquery.min.js' %}"></script>
<script src="{%  static 'js/bootstrap.min.js' %}"></script>
<script src="{%  static 'js/material.min.js' %}"></script>
<script src="{%  static 'js/getmdl-select.js' %}"></script>
<script src="{%  static 'js/mdl-jquery-modal-dialog.js' %}"></script>
<script src="{%  static 'js/cookie.js' %}"></script>

<script>
    $(document).ready(function() {
        if (Cookies.get('icc_driver_login') == null) {
            window.location.replace("/login");
        } else {
            Cookies.set("icc_driver_login", Cookies.get("icc_driver_login")); // Reset
            $("label[for='user_name_label']").html(Cookies.get("icc_driver_login"));
        }
    });

    $('#driver_logout_button').click(function () {
        Cookies.remove("icc_driver_login");
        window.location.replace("/login");
    });
</script>

{# Google Maps Stuff #}
<script>
    var map;
    var defaultPosition = {lat: 43.0392, lng: -76.1351};
    var ice_cream_icons = ["{%  static 'images/ice-cream-icon-1.png' %}",
        "{%  static 'images/ice-cream-icon-2.png' %}"];
    var currentLocation = "{%  static 'images/current_location.png' %}";

    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: defaultPosition,
            zoom: 13
        });

        var marker = new google.maps.Marker({
            position: defaultPosition,
            map: map,
            icon: currentLocation
            {#icon: ice_cream_icons[Math.floor(Math.random() * ice_cream_icons.length)]#}
        });

        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                var currentPosition = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
                map.setCenter(currentPosition);
                marker.setPosition(currentPosition);
            }, function() {
                handleLocationError(true, infoWindow, map.getCenter());
            });
        } else {
            // Browser doesn't support Geolocation
            alert("Oops...Your browser doesn't support Geolocation. Please allow access if requested.")
        }

        var infowindow = new google.maps.InfoWindow({
          content: '<h3 style="color: blue">Cuse Creams</h3>' +
              '<p style="color: chocolate">Chocolate: Plenty</p>' +
              '<p style="color: pink">Strawberry: Plenty</p>' +
              '<p style="color: deeppink">Sundaes: In stock</p>' +
              '<p style="color: brown">Fudge: Running out</p>' +
              'And plenty more flavors...' +
              '<h4 style="color: orange">Get one extra free scoop - only for Syracuse students!</h4>'
        });

        addMarker({lat: 43.0649, lng: -76.12130}, infowindow);
        addMarker({lat: 43.0487, lng: -76.12388}, infowindow);
        addMarker({lat: 43.0380, lng: -76.12536}, infowindow);
        addMarker({lat: 43.0414, lng: -76.14591}, infowindow);
        addMarker({lat: 43.0373, lng: -76.10234}, infowindow);
    }

    function addMarker(coords, infoWindow) {
        var marker = new google.maps.Marker({
            position: coords,
            map: map,
            title: 'Cuse Creams',
            icon: ice_cream_icons[Math.floor(Math.random() * ice_cream_icons.length)]
        });
        marker.addListener('click', function() {
           infoWindow.open(map, marker);
        });
    }

//    setInterval(function() {

  //  }, 1 * 1000); // 60 * 1000 milsec


</script>

{#<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwqXAdOf3z2WaraTsP3kxZHVlAJF6C-bM&callback=initMap"#}
{#        async defer></script>#}

</body>
</html>
